@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
body{
	font-family: 'Inter', sans-serif;
}
h1 ,h2, h3, h4, h5, h6{
	font-family: 'Roboto Slab', serif;
	
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#topNav{
	/*background: #FCA716;*/
	height: 36px;
	background: #023D83;
}
.icons{
    list-style: none;
    color: #fff;

    /*height: 5vh;*/
}
.icons li{
	display: inline-flex;
  padding-left: 10px;
  margin-top: 8px;
}
.icons p{
	display: inline-block;
	padding-left: 5px;
	font-size: 12px;
}
.socialIcons{
    list-style: none;
    color: #fff;
    /*height: 5vh;*/
}
.socialIcons li{
	display: inline-block;
	padding-left: 15px;
	margin-top: 4px;
}
/*topbar ends*/

/*navbar*/

#navbar img {
    height: 70px;
    margin-left: 10px;
}
.navbar-toggler{
    padding: 3px;
}
.navbar-toggler{
    outline: none!important;
}
.line1, .line2, .line3{
    width: 23px;
    height: 3px;
    margin: 5px;
    background: #F4A114;
    transition: all 0.5s ease;
    outline: none;
}

.nav-link{
    color: #000;
    font-size: 22px;
    padding: 10px 20px;/*!important*/
    transition: background 2s ease;
     
}
.nav-link:hover{
    background: #F4A114;
    color: #fff;
}

.nav-link span{
	color: #F4A114;
}
.nav-link span:hover{
	color: #fff;
}
.sticky-top{
  background: #fff;
  box-shadow: 1px 2px lightgrey;
}

/*navbar end*/

/*banner*/
#banner{
	background-image: url(../img/b.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 510px;
    max-width: 100%;
}

.overlay {
    background-color: rgba(2, 61, 131, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.bannerContent{
	position: absolute;
	top: 40%;
	left: 10%;
}
.bannerContent h2{
	color: #fff;
	font-size: 52px;

}
.bannerContent p{
	color: #fff;
	font-size: 20px;
	
}
.bannerContent button{
	    height: 50px;
    width: 120px;
    background: #023D83;
    color: #fff;
    font-size: 16px;
    border-style: none;
    border-radius: 3px;
}
.bannerContent button:hover{
	background: #F4A114;
}

/*banner ends*/

/*about*/
.tabs .nav-pills .nav-item{
    margin-bottom: 10px;
}
.tabs .nav-pills .nav-item .nav-link{
    background:#fff;
    border-radius:4px;
    color:#000;
    font-weight:bold;
    border:1px solid rgba(244,161,20, 0.8);
    font-size:20px;
    line-height: 30px;
}
.tabs .nav-pills .nav-item .nav-link span{
    color:#023D83;
    font-size:30px;
}
.tabs .nav-pills .nav-item .nav-link.active{
    color:#fff;
    background:#023D83;
    border:1px solid #F4A114;
}
.tabs .nav-pills .nav-item .nav-link.active span{
    color:#fff;
}
.tabs .tab-content{
    background:#fff;
    padding:0;
}
.tabs .tab-content .img{/*images-size for this section 1000 x 667 */
    width:100%;
    height:370px;
    margin-bottom:20px;
}
.tabs .tab-content h3{
    font-weight:bold;
    padding-top: 35px;

}
.tabs .tab-content h3 a{
    color:#000;
}
.heading-section h2{
    font-size: 45px;
}
/*======End of About Us=========*/


#parallax .parallaxImg{
  background-image: url(../img/p.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 250px;
  width: 100%;
  margin: 40px 0 0;
}
#parallax .paraOverlay{
      background-color: rgba(2, 61, 131, 0.2);
    position: absolute;
    right: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
}
.parallaxContent {
    position: absolute;
    top: 230%;
    left: 25%;
    z-index: 99;
  }
.parallaxContent h4 {
    text-align: center!important;
    color: #fff;
    font-size: 35px;
    line-height: 2;
}
.parallaxContent  button {
    
    margin-left: 190px;
    height: 50px;
    width: 120px;
    border-radius: 3px;
    border-style: none;
    background: #023D83;
    color: #fff;
}
.parallaxContent  button:hover{
  background: #F4A114;
}







/*project*/
#project {
      position: relative;
    background:  rgba(244,161,20, 0.2);
    /*rgba(2, 61, 131, 0.3)*/;
    height: 400px;
    margin: 30px 0 0;

 
   }
#project h2{
  font-size: 46px;
  text-align: center;
  margin-bottom: 30px;
    padding-top: 30px;
}

#project .project-member {
  position: relative;
  cursor: pointer; }

#project .project-member .member-overlay {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  color: #fff;
  padding: 1rem;
  background: rgba(2, 61, 131, 0.3);
  opacity: 0;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0); }

#project .project-member .member-overlay .overlay-border {
  border: 3px solid #F4A114;
  padding: 1rem;
  width: 100%;
  height: 100%; }

#project .project-member .member-overlay .overlay-border h4 {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  color: #F4A114; }




#project .project-member:hover .member-overlay {
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out; }




/*project end*/

/*achiv*/
#achiv{
    background: #fff;
    padding:60px 0 30px 0;
}
#achiv h2{
      font-size: 46px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -35px;
}
#achiv p{
  color: #fff;
}
#achiv .achiv-1{
    text-align:center;
    margin-bottom:80px;
    position:relative;
}
#achiv .achiv-1 .pic{
    border-radius:4px;
    overflow:hidden;
}
#achiv .achiv-1 img{
    transition:all ease-in-out 0.4s;
}
#achiv .achiv-1:hover img{
    transform:scale(1.1);
}
#achiv .achiv-1 .achiv-info{
    position: absolute;
    bottom:-48px;
    left:20px;
    right:20px;
    background: linear-gradient(360deg,rgba(2, 61, 131, 0.8)35%,
    rgba(244,161,20, 0.3)100%);
    padding: 15px 0;
    border-radius: 4px;
}
#achiv .achiv-1 h4{
    font-weight: bold;
    margin-bottom:10px;
    font-size:16px;
    color:#fff;
    position: relative;
    padding-bottom: 10px;
}

/*====achiv Section======*/
footer{
    background: #023D83;
    height: 80px;
}
footer p{
      color: #fff;
    text-align: center;
    line-height: 1.3;
    padding-top: 20px;
}


/*===============================home end==================================*/
/*===============================contact==================================*/


.office .card{
    display: inline-block;
    float: left;
    background: rgba(244,161,20, 0.2);
    color: #000;
    border: none;
    margin: 5px;
    left: 5%;
}
.office {
  height: 484px;
}
.office .card h5{
   text-align: left;
    padding-left: 31px;
}
.card-body ul li{
  list-style: none;

}

.office h2{
     text-align: center;
    font-size: 46px;
    margin: 25px 0;
}


/*form*/
.contactForm .form-group label{
  color:#F4A114;
  padding: 5px 0;
}
.contactForm .form-group input{
  border: 2px solid #F4A114;
  height: 45px;
}
.contactForm .form-group  textarea{
  border: 2px solid #F4A114;
  margin-bottom: 25px;
}
section.contactForm form{
    width:50%;
    margin-left:248px;
}
section.contactForm h2 {
    text-align: center;
    font-size: 46px;
}
section.contactForm button {
    height: 50px;
    width: 120px;
    margin-left: 200px;
    background: #023D83;
    color: #fff;
    border: none;
    margin-bottom: 10px;
}
section.contactForm button:hover{
  color: #fff;
  background: #F4A114;
}


/*==========================contact ends==========================*/

/*================gallery===========*/

.gallery-container{
    background: #023D83;
    position: relative;
    overflow: hidden;
}
.donation{
    background:#F4A114;
    color:black;
    padding:3px 3.5px;
    position: absolute;
    right:0;
    top:70%;
    transform: translateX(110%);
    transition: all 1s ease-in-out;
}
.donation:hover{
    color:#000;
}
.gallery-container:hover .donation{
    transform: translateX(0%);
}
.outline{
    display: inline-block;
    vertical-align:middle;
    transform:perspective(1px)translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
}
.outline a{
  color: #fff;
  text-decoration: none;
}
.outline:before{
    content:'';
    position:absolute;
    border: #F4A114 solid 5px;
    top:2px;
    left: 2px;
    right:2px;
    bottom:2px;
    opacity:0;
    transition-duration: 0.3s;
    transition-property: opacity;

}
.outline:hover:before,
.outline:focus:before,
.outline:active:before{
    opacity:1;
}
.grow{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    
    transition-duration:0.3s;
    transition-property: box-shadow, transform;
}
/*.grow:hover,
.grow:focus,
.grow:active{
    box-shadow: 0 10px 10px 5px  rgba(244,161,20, 0.8);
    transform: scale(1.1);
}*/